# Cadenas

In [2]:
a = 'hola'
a = 'Hola'
a = "Domino's Pizza"
a

"Domino's Pizza"

In [11]:
a = '150'            # tipo str
b = '150.5'
c = 'cien'
a = int(a)           # tipo int
print(a, type(a))
b = float(b)
print(b, type(b))
#c = int(c)

150 <class 'int'>
150.5 <class 'float'>

## Reto 3
Tomar el valor 150.5 como entero y convertirlo en cadena

In [12]:
b = 150.5
b = int(b)
b = str(b)
print(b, type(b))

150 <class 'str'>

## Lectura de datos desde el usuario y formateo de cadenas

In [13]:
nombre = input('dame tu nombre:')
nombre

dame tu nombre: Carlos

'Carlos'

In [15]:
edad = input('Dame tu edad:')
print(edad, type(edad))

Dame tu edad: 30

30 <class 'str'>

In [16]:
print("-" * 20)
print("|" + nombre + "|" + edad + "|")
print("-" * 20)

--------------------
|Carlos|30|
--------------------

In [21]:
print("-" * 37)
print("| {:^20} | {:^10} |".format(nombre, edad))
print("-" * 37)

-------------------------------------
|        Carlos        |     30     |
-------------------------------------

## Reto 3
Imprimir un ejemplo de un viaje de un usuario en Bedu Bikes, incluyendo 5 viajes a mostrar con tiempo, simulados. Utilizar format para mostrarlo en forma de tabla.


|ORIGEN               | DESTINO             | TIEMPO   |
|---------------------|---------------------|----------|
|Roma Norte           |  Tabacalera         |     15:00|
|Reforma              |  JuÃ¡rez             |     8:00 |
|Alameda              |  Condesa            |    20:00 |
|Roma Sur             |  Roma Norte         |     4:00 |
|Buenavista           |  Del Valle Norte    |    30:00 |

In [32]:
print("| {:^12}|{:^12}|{:^12}|".format("ORIGEN","DESTINO","TIEMPO"))
print("|" + ("-"*13) + "|" + ("-"*12)+ "|" + ("-"*12)+ "|")
print("| {:^12}|{:^12}|{:>12}|".format("ROMA NORTE","TABACALERA","15:00"))
print("| {:^12}|{:^12}|{:>12}|".format("ROMA NORTE","TABACALERA","8:00"))

|    ORIGEN   |  DESTINO   |   TIEMPO   |
|-------------|------------|------------|
|  ROMA NORTE | TABACALERA |       15:00|
|  ROMA NORTE | TABACALERA |        8:00|